/Buoi2/nbproject/private/
/Buoi2/build/
/btnvnbuoi2/nbproject/private/
/btnvnbuoi3/nbproject/private/
/btvnbuoi5.24-7/nbproject/private/
/btvnbuoi5.24-7/build/
/Buoi3/nbproject/private/
/Buoi3/build/
/btvnbuoi3_31-7/nbproject/private/
/btvnbuoi3_31-7/build/
